<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/rssnews/css/bootstrap.css') }}">
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="container" >
    <div class="container-narrow">
        <div id="container">
        {% block head %}
        <div class="masthead">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="nav nav-pills pull-right">
                <li><a href="{{ path('tape') }}">Rss</a></li>
                <li><a href="{{ path('user') }}">User</a></li>
                <li><a href="{{ path('category') }}">Category</a></li>
                <li><a href="{{ path('news') }}">News</a></li>
                <li><a href="{{ path('logout') }}">
                <img src="{{ asset('bundles/rssnews/images/System-Logout-icon.png') }}" class="news_log" >
                        Log Out</a><li>
            </ul>
            {% else %}
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a href="{{ path('login') }}">Log In</a>
                    <li>
                </ul>
            {% endif %}
            <h3 class="muted"> {% block header %}{% endblock %}</h3>
        </div>
        <br>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        </div>
    </div>
</div>
</body>
{% block script %}{% endblock %}
</html>