{% extends '::base.html.twig' %}

{% block header %}
    <br>
{% endblock %}

{% block body %}
    <div id="item">
        <ul>
            {% for category  in categories %}
                    <li>
                        <a  href="{{ path('news_load', { 'category': category }) }}"><em>{{category}}</em></a>
                    </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <form action="{{ path('news') }}" method="get" class="form-inline" role="form">
        <div class="row">
            <div class="span3 thumb-list">
                {{ form_row(search_form.find) }}
            </div>
        </div>
    </form>

    <hr>
    {% for tape in rss %}
        <div class="row">
            <div class="span9 thumb-list">
                    <img src="{{ asset('bundles/rssnews/images/rssicon1.png') }}" class="news_img">
                    <a rel="lightbox[secondary]" href="{{ path('news_show', { 'id': tape.id }) }}">
                        {{tape.title}}
                    </a>
            </div>
            <div class="span2 thumb-list">
                <img src="{{ asset('bundles/rssnews/images/calendar.png') }}" class="news_img">
                {{tape.dataUpdate|date('Y-m-d')}}
            </div>
            <div class="span1 thumb-list">
                <em class="text-right">
                    <img src="{{ asset('bundles/rssnews/images/user_foto.png') }}" class="news_img" >
                    ({{tape.visits}})
                </em>
            </div>
        </div>
        <hr>
    {% endfor %}
    {{ knp_pagination_render(rss) }}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/rssnews/js/jquery-1.3.2.min.js') }}"></script>
    <script src="{{ asset('bundles/rssnews/js/3DEngine.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/Ring.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/func.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}