{% extends '::base.html.twig' %}

{% block header %}
    Новости по категории:
{% endblock %}
{% block body %}
    (<a href="{{ path('news') }}">Вернуться к списку</a>)
    <div id = "data" data-url="{{ path('news_load', { 'category': category }) }}" ></div>
    <div id="loading" data-img="{{ asset('bundles/rssnews/images/loading.gif')}}"></div>
    <hr>
    {% for tape in rss %}
        <div class="row">
            <div class="span12 thumb-list">
                <h4><a rel="lightbox[secondary]" href="{{ tape.link }}">
                        {{tape.title}}
                    </a></h4>
                <p>{{ tape.description|raw }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
    <div id="container">
        <div class="pagination"><ul>
                {% if pageCarrent != 1%}
                    <li p='1' class='active'>  First  </li>
                    <li p='{{ pageCarrent - 1}}' class='active'>  Prev  </li>
                    <li p='{{ pageCarrent - 1}}' class='active'>  {{ pageCarrent - 1}}  </li>
                {% endif %}
                <li p='{{ pageCarrent }}' class='noactive'>  {{ pageCarrent }}  </li>
                {% if pageCarrent < page%}
                    <li p='{{ pageCarrent + 1}}' class='active'>  {{ pageCarrent + 1}}  </li>
                    <li p='{{ pageCarrent + 1}}' class='active'>  Next  </li>
                    <li p='{{page}}' class='active'>  Last  </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('bundles/rssnews/js/jquery-1.4.2.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/page.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}