{% extends '::base.html.twig' %}
{% block header %}
    Admin pane: User
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('warning_message') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error_message') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well sidebar-nav">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.username }}</td>
                    <td>
                        {% if entity.username != app.user.username %}
                            <a href="{{ path('user_delete', { 'id': entity.id }) }}">
                            delete
                            </a>
                        {% else %}
                         AUTHENTICATED
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('user_new') }}"class="btn btn-inverse">
        Create new User
    </a>
{% endblock %}
