{% extends '::base.html.twig' %}
{% block header %}Admin pane: User add{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('error_message') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
