{% extends '::base.html.twig' %}
{% block head %}{% endblock %}
{% block title %}
    Log in
{% endblock %}

{% block body %}
        <legend>Log in</legend>
        {% if error %} 
            <div class="alert alert-error">
                {{ error.message }}
            </div>
        {% endif %}
        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Name:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <hr/>
                <button class="btn btn-inverse" type="submit">Log in</button>
                <button class="btn" type="reset">Reset</button>
        </form>
{% endblock %}