{% extends '::base.html.twig' %}
{% block header %}
    Admin pane: Category edit
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form(edit_form) }}
{% endblock %}
