{% extends '::base.html.twig' %}
{% block header %}
    Admin pane: Category list
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('warning_message') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well sidebar-nav">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                            {{ entity.title }}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('category_edit', { 'id': entity.id }) }}">
                                    edit
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('category_delete', { 'id': entity.id }) }}">
                                    delete
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <a href="{{ path('category_new') }}" class="btn btn-inverse">
        Create Category
    </a>
{% endblock %}
