{% extends '::base.html.twig' %}
{% block header %}Admin pane: Rss list {% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('warning_message') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <form action="{{ path('tape') }}" method="get" class="form-inline" role="form">
        <div class="row">
            <div class="span3 thumb-list">
            {{ form_row(search_form.search) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.dateFrom) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.dateTo) }}
            </div>
            <div class="span3 thumb-list">
                {{ form_row(search_form.sort) }}
            </div>
            <div class="span3 thumb-list"><br>

                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </div>
    </form>

<div class="well sidebar-nav">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Dataupdate</th>
                <th>Visits</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tape_show', { 'id': entity.id }) }}">{{ entity.title }}</td>
                <td>{{ entity.url }}</td>
                <td>{% if entity.dataUpdate %}{{ entity.dataUpdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.visits }}</td>
                <td><input type="checkbox" {% if entity.active %} checked {% endif %} disabled></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tape_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tape_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tape_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', { 'id': entity.id }) }}">news</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    {{ knp_pagination_render(entities) }}
</div>
<a href="{{ path('tape_new') }}" class="btn btn-inverse">
    Create RssLink
</a>
{% endblock %}
