{% extends '::base.html.twig' %}
{% block header %}Admin pane: RssLink add{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('error_message') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="span5 thumb-list">
            {{ form(form) }}
        </div>
        <div class="span7 thumb-list">
            <div id="category">
                <div class="column left">
                    <h5><em>Category Rss:</em></h5>
                    <ul class="sortable-list">
                    </ul>
                </div>

                <div class="clearer">&nbsp;</div>

                <div class="column left">
                    <h5><em>All category:</em></h5>
                    <ul class="sortable-list">
                        {% for categories in category %}
                            <li class="btn" id="{{categories.id}}">
                                {{ categories.title}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/rssnews/js/jquery-1.4.2.min.js') }}"></script>
    <script src="{{ asset('bundles/rssnews/js/jquery-ui-1.8.custom.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bundles/rssnews/js/category.js') }}" type="text/javascript"  charset="utf-8"></script>
{% endblock %}

