{% extends '::base.html.twig' %}
{% block header %}Admin pane: RssLink{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success_message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>RssLink</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Datacreate</th>
                <td>{{ entity.dataCreate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Dataupdate</th>
                <td>{{ entity.dataUpdate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Visits</th>
                <td>{{ entity.visits }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    {% if tapeCategories %}
                        {% for tape in tapeCategories %}
                            <span class="label label-default">{{tape.category.title }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Active</th>
                <td><input type="checkbox" {% if entity.active %} checked {% endif %} disabled></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('tape_delete', { 'id': entity.id }) }}" class="btn btn-inverse">
        Delete RssLink
    </a>
{% endblock %}
